<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Turismo en Monterrey</title>
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body style="background-color:rgb(224, 211, 235);">
       
        <div id="app">
            <h1 style= "text-align: center; color: rgb(126, 8, 172)">
                {{ mensaje }}
            </h1>
        </div>
       
        <div id="app-2">
            <h3>Lugares que visitar</h3>
            <ul>
                <li v-for="lugar in filteredLugares" :key="lugar.id">
                    <input type="checkbox" v-model="lugar.done">
                    <span :class="{ done: lugar.done }">{{ lugar.text }}</span>
                </li>
            </ul>
            <button @click="toogleHideCompleted">
                {{ hideCompleted ? 'Mostrar todos' : 'Ocultar completados' }}
            </button>
        </div>
        
        <style>
            .done { text-decoration: line-through; }
        </style>

        <div id="detalle">
           <p> Nombre del alumno: {{name}}</p>
           <p> Fecha de hoy: {{date}}</p>
        </div>


        <div id="hide">
            <img v-if="!isHidden" style="width:200px;height:150px;display: block;margin: 0 auto;" v-bind:src="imag">
            <div class="col-md-12 text-center">
            <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Show/Hide</button>
            </div>
        </div>


        <div id = "mensaje">
        <p>Lugar sugerido: {{ message }}</p>
        <input v-model="message" placeholder="Sugiere un lugar en monterrey" />
        </div>
        
        <script>
            
            Vue.createApp({
                data() {
                    return {
                        mensaje: "Turismo en Monterrey"
                    }
                }
            }).mount('#app')

            let id = 0;
            Vue.createApp({
                data(){
                    return {
                        hideCompleted: false,
                        lugares: [
                            { id: id++, text: "Parque Fundidora", done: true },
                            { id: id++, text: "Museo Marco", done: true },
                            { id: id++, text: "Parque Ecológico Chipinque", done: false },
                            { id: id++, text: "Paseo Santa Lucía", done: false },
                            { id: id++, text: "Bioparque Estrella", done: false } ]
                    }
                },
                methods: {
                    toogleHideCompleted(){
                        this.hideCompleted = !this.hideCompleted
                    }
                },
                computed: {
                    filteredLugares() {
                        return this.hideCompleted
                            ? this.lugares.filter((t) => !t.done)
                            : this.lugares
                    }
                }
            }).mount('#app-2')

            Vue.createApp({
                data() {
                    return {
                        name: 'Miguel Tanori',
                        date: '29 de marzo de 2022'
                    }
                } 
            }).mount('#detalle')

            Vue.createApp({
                data() {
                    return {
                        isHidden: false,
                        imag: GetRandomImage()
                    }
                } 
            }).mount('#hide')

            function GetRandomImage(){
                let picturePath = ''
                let imageBank = ['https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.7jMwkwkVgt_W7cRT-mutOAHaFj%26pid%3DApi&f=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frankeamexico.com%2Fwp-content%2Fuploads%2F2018%2F11%2FMuseo-MARCO-en-Monterrey-1152x605.jpg&f=1&nofb=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fd5%2F4f%2Fda%2Fd54fda213d469b670ae41d5ea0766dc2.jpg&f=1&nofb=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Fv2cksk8np5431.jpg&f=1&nofb=1', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftolucalabellacd.com%2Fwp-content%2Fuploads%2F2020%2F12%2Fedomex-bioparque-estrella-ofrece-descuentos-en-sus-boletos-160494.jpg&f=1&nofb=1']
                picturePath += imageBank[Math.floor(Math.random()* imageBank.length)]
                return picturePath
            }

            Vue.createApp({
                data() {
                    return {
                        message: ''
                    }
                } 
            }).mount('#mensaje')
        </script>

        
    </body>

</html>
