<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Turismo en Monterrey</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.1/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body style="background-color:rgb(224, 211, 235);">
        
        <h1 id="app" style="text-align: center; color: rgb(57, 8, 172)">
            {{ message }}
        </h1>

        <div id="app-3">
            <h3>Lugares que visitar</h3>
            <ul>
                <li v-for="lugar in filteredLugares" :key="lugar.id">
                    <input type="checkbox" v-model="lugar.done">
                    <span :class="{ done: lugar.done }">{{ task.text }}</span>
                </li>
            </ul>
            <button @click="toogleHideCompleted">
                {{ hideCompleted ? 'Muestra todos los lugares' : 'Esconde los lugares visitados' }}
            </button>
        </div>
        
        <style>
            .done { text-decoration: line-through; }
        </style>
        
        <div id="detalle">
           <p> Nombre del alumno: {{name}}</p>
           <p> Fecha de hoy: {{date}}</p>
        </div>

        <div id="hide">
            <img v-if="!isHidden" style="width:200px;height:150px;display: block;margin: 0 auto;" v-bind:src="imag">
            <div class="col-md-12 text-center">
            <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Show/Hide</button>
            </div>
        </div>

        <div id = "mensaje">
        <p>Hobby sugerido: {{ message }}</p>
        <input v-model="message" placeholder="Sugiere un hobby" />
        </div>
        
        <script src="basic.js"></script>
    </body>

</html>